@using RapidWeb.Models

@{
    ViewBag.Title = "Purchase Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int roleId = ((User)HttpContext.Current.Session["User"]).RoleId;
}

<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">@ViewBag.Title</h3>
                </div>
                <div class="col-4">
                    @if (roleId != Role.RTPUser && roleId != Role.Activity)
                    {
                        <a class="float-right btn btn-primary btn-sm" href="@Url.Action("PurchaseOrderForm")">New Purchase Order</a>
                    }
                    <a class="float-right btn btn-primary btn-sm" href="@Url.Action("AdvanceSearch")">Advance Search</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table id="Table" class="table text-align-center table-bordered table-grid">
                <thead class="text-primary font-weight-bold">
                    <tr>
                        <th scope="col">P.O ID</th>
                        <th scope="col">P.O Date</th>
                        <th scope="col">P.R ID</th>
                        <th scope="col">Vendor ID</th>
                        <th scope="col">Vendor Name</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PurchaseOrder purchaseOrder in Model)
                    {
                    <tr class="text-dark">

                        <td style="">
                            @purchaseOrder.PrefixId
                        </td>
                        <td style="">
                            @purchaseOrder.CreationDateTime.ToShortDateString()
                        </td>
                        <td style="">
                            @purchaseOrder.PurchaseRequest.PrefixId
                        </td>
                        <td style="">
                            @purchaseOrder.Vendor.PrefixId
                        </td>
                        <td style="">
                            @purchaseOrder.Vendor.Name
                        </td>
                        <td style="">
                            @(purchaseOrder.PurchaseOrderProducts.Select(x=> new {x = x.UnitPrice * x.RequiredQty}).Sum(x=>x.x))
                        </td>
                        <td>
                            <a href="@Url.Action("PurchaseOrderDetail", "PurchaseOrder", new {id = purchaseOrder.Id})" style="cursor: pointer" class="ml-2 text-primary ViewUser"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Table").dataTable();
        });

        $(".form-inline").css({
            width: 1000
        });
    </script>
}
<style>
    .form-inline {
        display: block;
    }
</style>
