
@{
    ViewBag.Title = "AdvanceSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-4">
                    <h3 class="mb-0">@ViewBag.Title</h3>
                </div>
                <div class="col-8">
                    <a class="float-right btn btn-primary btn-sm" href="@Url.Action("Index")">Back To List</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <p class="ct-content">Client ID</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text prefixId">CL</span>
                            </div>
                            <input class="form-control form-control-alternative" id="ClientIdFrom" name="ClientIdFrom" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-1 text-center">
                    <div class="form-group">
                        <p class="ct-content">TO</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text prefixId">CL</span>
                            </div>
                            <input class="form-control form-control-alternative" id="ClientIdTo" name="ClientIdTo" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <p class="ct-content">City ID</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text prefixId">CITY</span>
                            </div>
                            <input class="form-control form-control-alternative" id="CityIdFrom" name="CityIdFrom" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-1 text-center">
                    <div class="form-group">
                        <p class="ct-content">TO</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text prefixId">CITY</span>
                            </div>
                            <input class="form-control form-control-alternative" id="CityIdTo" name="CityIdTo" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <button id="DisplayList" type="submit" class="btn btn-success">Display</button>
                        <button id="SaveAsPdfBtn" type="submit" class="btn btn-success" onclick="PagePrint()">Save As Pdf</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-12">
                    <table id="Table" class="table text-align-center table-bordered table-grid">
                        <thead class="text-primary font-weight-bold">
                            <tr>
                                <th scope="col">Client ID</th>
                                <th scope="col">Ref Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Address</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Contact No.</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">City</th>
                                <th scope="col">Package</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-dark">
                                @*<td style="">
                                        @client.Id
                                    </td>
                                    <td style="">
                                        @client.Name
                                    </td>
                                    <td style="">
                                        @client.Department.Name
                                    </td>
                                    <td style="">
                                        @client.Designation
                                    </td>
                                    <td style="">
                                        @client.GrossSalary
                                    </td>*@
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#DisplayList").click(function () {
                var clientIdFrom = $("#ClientIdFrom").val();
                var clientIdTo = $("#ClientIdTo").val();

                var cityIdFrom = $("#CityIdFrom").val();
                var cityIdTo = $("#CityIdTo").val();

                var tableBody = $("#Table tbody");
                tableBody.empty();

                $.ajax({
                    url: "/Client/GetClients?clientIdFrom=" + clientIdFrom + "&clientIdTo=" + clientIdTo + "&cityIdFrom=" + cityIdFrom + "&cityIdTo=" + cityIdTo,
                    type: "POST",
                    success: function (data) {
                        $.each(data,
                            function (index, item) {
                                var tr = "<tr>" +
                                    "<td>" +
                                    item.PrefixId +
                                    "</td>" +
                                    "<td>" +
                                    item.RefCode +
                                    "</td>" +
                                    "<td>" +
                                    item.Name +
                                    "</td>" +
                                    "<td>" +
                                    item.Address +
                                    "</td>" +
                                    "<td>" +
                                    item.ContactPersonName +
                                    "</td>" +
                                    "<td>" +
                                    item.ContactNo +
                                    "</td>" +
                                    "<td>" +
                                    item.Email +
                                    "</td>" +
                                    "<td>" +
                                    item.City.Name +
                                    "</td>" +
                                    "<td>" +
                                    item.Package.Type +
                                    "</td>" +
                                    "</tr>";

                                tableBody.append(tr);
                            });
                    },
                    error() {

                    }
                });
            });
        });
    </script>
}