@using RapidWeb.Models
@model RapidWeb.ViewModel.NormalInvoiceViewModel
@{
    ViewBag.Title = "Normal Invoice Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-12 order-xl-1">
    <div id="SectionChartDiv" class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">@ViewBag.Title</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="float-right btn btn-primary btn-sm" href="@Url.Action("Index")">Back To List</a>
                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.Date, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.Date, "{0:MM/dd/yyyy}", new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.PrefixId, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.PrefixId, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.ComplainId, new { @class = "form-control-label" })
                        <input class="form-control form-control-alternative valid" value="@Complain.Prefix@Model.NormalInvoice.ComplainId" disabled>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.PurchaseOrderId, new { @class = "form-control-label" })
                        <input class="form-control form-control-alternative valid" value="@PurchaseOrder.Prefix@Model.NormalInvoice.PurchaseOrderId" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.CustomerName, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.CustomerName, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.CustomerAddress, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.CustomerAddress, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.CoAddress, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.CoAddress, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.WorkNature, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.WorkNature, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.TotalAmount, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.TotalAmount, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(U => U.NormalInvoice.InWords, new { @class = "form-control-label" })
                        @Html.TextBoxFor(U => U.NormalInvoice.InWords, new { @disabled = true, @class = "form-control form-control-alternative" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table id="DynamicTable" class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Total Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (NormalInvoiceProduct saleTaxInvoice in Model.NormalInvoice.NormalInvoiceProducts)
                            {
                                <tr class="text-dark">
                                    <td style="">
                                        @Product.Prefix@saleTaxInvoice.ProductId
                                    </td>
                                    <td style="">
                                        @saleTaxInvoice.RequiredQty
                                    </td>
                                    <td style="">
                                        @saleTaxInvoice.UnitPrice
                                    </td>
                                    <td style="">
                                        @(saleTaxInvoice.UnitPrice * saleTaxInvoice.RequiredQty)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div align='center'>
                <div class="col-lg-12">
                    <div id="AlertMessageMain" class="alert alert-success alert-dismissible fade show" style="display: none" role="alert">
                        <span id="AlertMessage"></span>
                        <button id="AlertMessageClose" type="button" class="close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="SaveAsPdfBtn" class="btn btn-success" href="#" onclick="PagePrint()">Save As Pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>